<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="DEBUG" />
		
	<logger name="core.september.rescue" level="DEBUG"/>
		
	<!-- appender name="FILEOUT" class="ch.qos.logback.core.FileAppender">
		<file>${logging.file}</file>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}
				%class{36}.%M %L CLIENT_PORT:%X{ClientPort}- %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}
				%class{36}.%M %L CLIENT_PORT:%X{ClientPort}- %msg%n</pattern>
		</encoder>
	</appender-->

</configuration>

